body {
  width: auto;
  height: auto;

}

.header {
  list-style-type: none;
  position: relative;
  top: 0;
  width: 100%;
  margin: 10px;
  padding: 50px;
  font-family: arial, sans-serif;
  display: inline;
  overflow: hidden;
}

.header-left {
  display: inline-block;
  float:left;
  margin: 10px;;
}

.header-right {
  display: inline-block;
  margin: 10px;
  float: right;
}

.footer {

  list-style-type: none;
  background-color: rgb(234, 236, 239);
  font-family: arial, sans-serif;
  display: block;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0;
  text-align: center;
}

.footer-left {
  display: inline-block ;
  float:  left;
  margin: 10px;
}

.footer-right {
  display: inline-block;
  float:  right;
  margin: 10px;
}

.logo-items {
width: 600px;
display: block;
height: 400px;
margin-right: auto;
margin-left: auto;
margin-top: 200px;
text-align: center;

}

.mic {

	border: 1px solid black;
	border-style: thin;
	padding-left:500px;
	margin-top: 0px;
	padding-top: 0px;

.logo {
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: 0px;
	height: 200px;
	width: 400px;


}

p {
  display: inline;
}
