.header {
  list-style-type: none;
  position: top;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  display: inline-block;
}

.header-left {
  display: inline-block;
  text-align: left;
}

.header-right {
  display: inline-block;
  text-align: right;
}

.logo-items {

	width: 600px;
	display: block;
	height: 400px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 150px;
	text-align: center;

}

.mic {

	border: 1px solid black;
	border-style: thin;
	padding-left:500px;
	margin-top: 0px;
	padding-top: 0px;

.logo {
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: 0px;
	height: 200px;
	width: 400px;


}

.buttons {
	list-style: none;
	display: inline;
}
