body {
  background-color: white;
}

.header {
  position: absolute;
  display: block;
  top: 0px;
  font-family: arial, sans-serif;
  
}

.header .header-right {
  display: inline-block;
  text-align: right;
 }
.header .header-left {
  display: inline-block;

}
